<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/donet_mvc_vue_spa_tempalte.styles.css" asp-append-version="true" />
    <link href="~/assets/aboutview.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/index.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/assets/aboutview.js" asp-append-version="true"></script>
    <script src="~/assets/index.js" asp-append-version="true"></script>
    <script src="~/assets/testview.js" asp-append-version="true"></script>
</head>
<body>
</body>
</html>
